.navbar, main .banner {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*RESET*/
* {
  margin: 0;
  padding: 0;
}

/*SECTIONS*/
section {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: centerg;
}

/*CARDS*/
@media (max-width: 991px) {
  .cards {
    flex-direction: column;
  }
}
.card {
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  margin: 20px;
}
.card img {
  width: 100%;
  height: auto;
  max-width: 100%;
}
.card .card-contenido {
  padding: 20px;
}
.card .card-contenido .card-titulo {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.card .card-contenido .card-descripcion {
  color: #555;
}
.card .card-contenido .precio {
  font-size: 1.5rem;
  font-weight: bold;
  color: #731018;
  margin-top: 10px;
}
.card .card-contenido .comprar {
  display: block;
  width: 100%;
  padding: 10px;
  text-align: center;
  background-color: #731018;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.card .card-contenido .comprar:hover {
  background-color: #A61B1B;
}

/*NAVBAR*/
header {
  background-color: #731018;
}
header .navbar, header main .banner, main header .banner {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .navbar ul, header main .banner ul, main header .banner ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin-bottom: 0;
  margin-right: 120px;
}
header .navbar ul li, header main .banner ul li, main header .banner ul li {
  display: flex;
}
header .navbar a, header main .banner a, main header .banner a {
  display: flex;
  padding: 10px 30px;
  color: #F2EFE9;
}
header .navbar a:hover, header main .banner a:hover, main header .banner a:hover {
  background-color: #A61B1B;
  color: #F2EFE9;
}

.mobile-nav-toggle {
  color: #262322;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }
}
@media (max-width: 991px) {
  .navbar .lista, main .banner .lista {
    display: none;
    position: fixed;
    background-color: #731018;
    top: 80px;
    left: 0%;
    width: 100%;
  }
}
#icono-navbar {
  width: 4rem;
}

#display-menu {
  display: none;
}
#display-menu:checked + ul {
  display: block;
}

/*INDEX*/
main .banner {
  margin-top: 100px;
}
main .banner img {
  max-width: 100%;
  height: a;
}

.productos-destacados {
  display: flex;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards {
  display: flex;
}

/*FORMULARIOS*/
.form {
  margin-top: 300px;
}

#sumbitform {
  background-color: #731018;
  color: #F2EFE9;
}
#sumbitform:hover {
  background-color: #A61B1B;
}

/*NOSOTROS*/
.logonos {
  font-size: 5rem;
}

/*GALERIA*/
.galeria {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  padding: 20px;
  justify-content: center;
}
.galeria img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}
.galeria img:hover {
  transform: scale(1.1);
}

@media (max-width: 991px) {
  .galeria {
    grid-template-columns: 1fr;
  }
}

/*# sourceMappingURL=styles.css.map */
