/*FORMULARIOS*/

.form {
    margin-top: 300px;
}

#sumbitform {
    background-color: map-get($colores, rojo-primario );
    color: $colorterciario;
    &:hover{
        background-color: map-get($colores, rojo-secundario);
    }
}
