/*NAVBAR*/

header {
    background-color: $colorprimario;

    .navbar {
        display: flex;
        align-items: center;
        justify-content: center;

        ul {
            display: flex;
            align-items: center;
            list-style: none;
            margin-bottom: 0;
            margin-right: 120px;

            li {
                display: flex;
                }
            }
                a {
                    display: flex;
                    padding: 10px 30px;
                    color: $colorterciario;
                    &:hover {
                        background-color: $colorsecundario;
                        color: $colorterciario;
            }
        }
    }
}

.mobile-nav-toggle {
    color: $colorcuaternario;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}

@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
    }
}

@media (max-width: 991px) {
    .navbar .lista {
        display: none;
        position: fixed;
        background-color: $colorprimario;
        top: 80px;
        left: 0%;
        width: 100%;
    }
}

#icono-navbar {
    width: 4rem;
}

#display-menu {
    display: none;

    &:checked+ul {
        display: block;
    }
}