/*INDEX*/

main{
    .banner {
        margin-top: 100px;
            @extend .navbar;
    }
}

@media (max-width: 991px) {
    .imgpc {
        display: none;
    }
}
@media (min-width: 991px) {
    .imgmobile {
        display: none;
    }
}
.productos-destacados {
    display: flex;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards {
    display: flex;
}