/*NOSOTROS*/

.logonos {
    font-size: 4rem;
    color: $colorcuaternario
}

@media (max-width: 991px) {
    .iframegrande {
        display: none;
    }
}
@media (min-width: 991px) {
    .iframepequeño {
        display: none;
    }
}